
        body
        {
            background-color: beige;
        }
        .card-img-top {
            height: 420px;
            object-fit: cover;
        }
        .navbar
        {
            background-color: bisque;
        }
